{% extends "root.html" %}
{% load bootstrap4 %}


{% block title %}
    로그인
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>로그인</strong>
                    </div>
                    <div class="card-body">
                        {% include "_form.html" with submit_label="로그인" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}