{% load static %}
<header class="header navbar navbar-expand-lg bg-light shadow-sm fixed-top">
    <div class="container px-3">

        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"
                           aria-current="page">Landings</a>
                        <div class="dropdown-menu p-0">
                            <div class="d-lg-flex">
                                <div class="mega-dropdown-column bg-position-center bg-repeat-0 bg-size-cover rounded-3 rounded-end-0"
                                     style="background-image: url(assets/img/landings.jpg); margin: -1px;"></div>
                                <div class="mega-dropdown-column pt-lg-3 pb-lg-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="index.html" class="dropdown-item">Template Intro Page</a></li>
                                        <li><a href="landing-mobile-app-showcase-v1.html" class="dropdown-item">Mobile
                                            App Showcase v.1</a></li>
                                        <li><a href="landing-mobile-app-showcase-v2.html" class="dropdown-item">Mobile
                                            App Showcase v.2</a></li>
                                        <li><a href="landing-startup.html"
                                               class="dropdown-item d-flex align-items-center">Startup<span
                                                class="badge bg-success ms-2">New</span></a></li>
                                        <li><a href="landing-saas-v1.html" class="dropdown-item">SaaS v.1</a></li>
                                        <li><a href="landing-saas-v2.html" class="dropdown-item">SaaS v.2</a></li>
                                        <li><a href="landing-saas-v3.html" class="dropdown-item">SaaS v.3</a></li>
                                        <li><a href="landing-financial.html" class="dropdown-item">Financial
                                            Consulting</a></li>
                                    </ul>
                                </div>
                                <div class="mega-dropdown-column pt-lg-3 pb-lg-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="landing-online-courses.html" class="dropdown-item">Online
                                            Courses</a></li>
                                        <li><a href="landing-medical.html" class="dropdown-item">Medical</a></li>
                                        <li><a href="landing-software-company.html" class="dropdown-item">IT (Software)
                                            Company</a></li>
                                        <li><a href="landing-conference.html" class="dropdown-item">Conference</a></li>
                                        <li><a href="landing-digital-agency.html" class="dropdown-item">Digital
                                            Agency</a></li>
                                        <li><a href="landing-blog.html" class="dropdown-item">Blog Homepage</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <div class="d-lg-flex pt-lg-3">
                                <div class="mega-dropdown-column">
                                    <h6 class="px-3 mb-2">About</h6>
                                    <ul class="list-unstyled mb-3">
                                        <li><a href="about-v1.html" class="dropdown-item py-1">About v.1</a></li>
                                    </ul>
                                    <h6 class="px-3 mb-2">Blog</h6>
                                    <ul class="list-unstyled mb-3">
                                        <li><a href="{% url 'campings:index' %}" class="dropdown-item py-1">Camping</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mega-dropdown-column">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Account</a>
                        <ul class="dropdown-menu">
                            <li><a href="account-details.html" class="dropdown-item">Account Details</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'accounts:signout' %}" class="dropdown-item">Sign Out</a></li>
                            {% else %}
                                <li><a href="{% url 'accounts:signin' %}" class="dropdown-item">Sign In</a></li>
                            {% endif %}

                            <li><a href="{% url 'accounts:signup' %}" class="dropdown-item">Sign Up</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link disabled justify-content-end">{{ user.email }}</a>
                    </li>
                </ul>
            </div>

        </div>


    </div>
</header>