<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block extra-style %}
    {% endblock %}
</head>

<body>
<div>
    <a href="{% url 'index' %}">
        <button>홈</button>
    </a>
    <a href="{% url 'accounts:signup' %}">
        <button>회원가입</button>
    </a>
    <a href="{% url 'accounts:signin' %}">
        <button>로그인</button>
    </a>

    <a href="{% url 'accounts:signout' %}">
        <button>로그아웃</button>
    </a>
</div>
<hr>
{% block content %}

{% endblock %}
</body>
</html>