<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<!-- Vendor Styles-->
        <link rel="stylesheet" media="screen" href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"/>
        <link rel="stylesheet" media="screen" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"/>

        <!-- Main Theme Styles + Bootstrap-->
        <link rel="stylesheet" media="screen" href="{% static 'assets/css/theme.min.css' %}">
    {% block extra-style %}
    {% endblock %}
</head>

<body>
<div>
    <a href="{% url 'index' %}">
        <button>홈</button>
    </a>
    <a href="{% url 'accounts:signup' %}">
        <button>회원가입</button>
    </a>
    <a href="{% url 'accounts:signin' %}">
        <button>로그인</button>
    </a>

    <a href="{% url 'accounts:signout' %}">
        <button>로그아웃</button>
    </a>
</div>
<hr>
{% block content %}

{% endblock %}
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/rellax/rellax.min.js' %}"></script>
<script src="{% static 'assets/vendor/@lottiefiles/lottie-player/dist/lottie-player.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>


<!-- Main Theme Script -->
<script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>
</html>