{% extends 'root.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'url_shortener:index' %}">
                                    <img src="{% static 'assets/img/blog/01.jpg' %}" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-footer">
                                URL 앱
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'campings:camping_item_index' %}">
                                    <img src="{% static 'assets/img/blog/02.jpg' %}" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-footer">
                                캠핑용품 사고 싶은거
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'campings:index' %}">
                                    <img src="{% static 'assets/img/blog/03.jpg' %}" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-footer">
                                캠핑
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'instagram:index' %}">
                                    <img src="{% static 'assets/img/blog/04.jpg' %}" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-footer">
                                인스타
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'cooking:index' %}">
                                    <img src="{% static 'assets/img/blog/05.jpg' %}" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-footer">
                                요리
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}