{% extends 'base.html' %}
{% block content %}

    <a href="{% url 'url_shortener:index' %}">
        <button>URL 앱</button>
    </a>

    <a href="{% url 'campings:camping_item_index' %}">
        <button>캠핑용품 사고 싶은거</button>
    </a>

    <a href="{% url 'campings:index' %}">
        <button>캠핑</button>
    </a>

    <a href="{% url 'instagram:index' %}">
        <button>인스타 </button>
    </a>

{#    <a href="{% url 'cooking:index' %}">#}
{#        <button>요리</button>#}
{#    </a>#}
    <hr>
    <p>현재 유져: {{ user.email }}</p>


{% endblock %}