{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% block content %}

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


        <!-- Navbar -->
        <!-- Remove "fixed-top" class to make navigation bar scrollable with the page -->
        {% include 'includes/navbar.html' %}


        <!-- Page content -->
        <section class="position-relative h-100 pt-5 pb-4">

            <!-- Sign up form -->
            <div class="container d-flex flex-wrap justify-content-center justify-content-xl-center h-100 pt-5">
                <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 70%;">
                    <h1 class="text-center text-xl-start mt-5">Welcome</h1>
                    <form action="{% url 'campings:create' %}" class="needs-validation" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative mb-4">
                                    <div class="mb-4 row align-items-center">
                                        {% bootstrap_form form %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">enrollment</button>
                    </form>

                    <form action="" name="form2">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                    </form>

                </div>
            </div>
        </section>
    </main>

    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
        <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
        <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>

    <!-- Vendor Scripts -->
    <script src="{% static 'assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
{% endblock %}


