{% extends 'base.html' %}
{% block content %}

    <a href="{% url 'campings:create' %}">
        <button>아이템 등록</button>
    </a>
    <hr>
    Tag:: {% for tag in tags %}
    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>,
    {% endfor %}
    <hr>

    {% for camping in camping_list %}
        <p>
            title:: <a href="{{ camping.get_absolute_url }}">{{ camping.title }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        Tag:: {% if camping.tag.exists %}
            {% for tag in camping.tag.iterator %}
                {{ tag.name }}//
            {% endfor %}
        {% endif %}
        </p>
        <p><img src="{{ camping.multiple_image.first.images.url }}" alt="" style="width: 150px;"></p>
        <p>Visited:: {{ camping.visited_dt | date:'y-m-d'}}</p>



        <hr>
    {% endfor %}

{% endblock %}